@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  background-image: url('/public/celebrateBirthday.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(250, 250, 250);
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

/* Title Component */
.title-div {
  padding-top: 2em;
}
.title-div p {
  font-family: 'Poppins', sans-serif;

}
.title-div h1 {
  color: palevioletred;
  font-family: 'Lily Script One', cursive;
  font-size: 5rem;
  letter-spacing: 1px;
  text-shadow: 3px 5px 8px #000;
}

/* Form */
form {
  /* border: 1px solid red; */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  
}
form input {
  border: none;
  border-bottom: 1px solid #333;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1em;
  outline: none;
  width: 100%;
}
form input::placeholder {
  color: #bbb;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
form button {
  background-color: palevioletred;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 3px #333;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  padding: 1em 1.5em;
  text-transform: uppercase;
  width: 100%;
}

.thanks {
  color: palevioletred;
  font-family: 'Lily Script One', cursive;
  font-size: 4rem;
  letter-spacing: 1px;
  text-shadow: 1px 3px 5px #000;
  padding-top: .5em;
  width: 90%;
  margin: 0 auto;
}

/* GuestList */
.div-guest {
  min-height: 100vh;
  width: 90%;
  margin: 1em auto;
}
.div-guest h1 {
  font-family: 'Lily Script One', cursive;
}
.map-item {
  margin: .5em 0;
}
.map-item li {
  font-family: 'Poppins', sans-serif;
}